body{
    border: 1px solid black;
    max-width: 1100px
}
.my-form{
    padding: 20px;
    background-color: lightgray;
}
.form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block
}
.my-form input{
    padding: 8px;
    width: 40%;
}
.my-form textarea{
    padding: 8px;
    width:  40%;
    height: 150px;
}
.button{
    max-width: 10%;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
}
.button:hover{
    background-color: white;
    color: black;
}